NEXT_PUBLIC_SUPABASE_URL=https://yztoorgicssndvhhlotk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6dG9vcmdpY3NzbmR2aGhsb3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzA0MjcsImV4cCI6MjA5MTMwNjQyN30.b5zKUDGoYXweIzKz87CqGqBsyarAErE2mouWv7l3VK4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6dG9vcmdpY3NzbmR2aGhsb3RrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTczMDQyNywiZXhwIjoyMDkxMzA2NDI3fQ.4H4ZKhSjHf_IjMdPh7f4XNfAzjxF96po8dy-pB6tkyE
ADMIN_EMAIL=vincentlebarbey@gmail.com
ADMIN_PASSWORD=Byhqiv28
